
/* Nav Bar */
:root{
    --cor-branca: #ffffff;
    --cor-preta: #000000;
    --cor-cinza: #333;
    --cor-rosa-claro: #f2a5a5;
}

/* começo da página de produtos Femininos */

body{
    margin-top: 25px;
    margin-left: 25px;
}

.colunas {
    display: flex;
    flex-wrap: wrap;    
}


.categoria{
    /* no texto colocar a imagem de fundo*/
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-branca);
    background-image: url(/Fotos/WhatsApp\ Image\ 2024-10-29\ at\ 15.58.12.jpeg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--cor-branca);
    text-shadow: 0px 0px 8px var(--cor-preta);
}