/* Nav Bar */
:root {
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #333;
    --rosa-claro: #f2a5a5;
    --rosa-salmao: #ed8686c5;
    --vermelho-escuro: #ad0f0f;
    --bege: #ffe4e1;
    --verde-escuro: #25d366;

}

/* começo da página de produtos Femininos */

body {
    margin-top: 25px;
    margin-left: 25px;
}

.textos {
    font-size: 30px;
    padding-left: 25px;
}

.colunas {
    display: flex;
    flex-wrap: wrap;
}


.categoria {
    /* no texto colocar a imagem de fundo*/
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/Fotos/WhatsApp\ Image\ 2024-10-29\ at\ 15.58.12.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.blusa {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/Fotos/WhatsApp\ Image\ 2024-10-29\ at\ 15.58.12.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.blusa {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/Fotos/WhatsApp\ Image\ 2024-10-29\ at\ 15.58.12.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.camiseta {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/feminino/Vestido\ infantil.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.vestido {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/feminino/Vestido\ infantil.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.calças {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/feminino/Calça\ cropped.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.sapato {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/Fotos/WhatsApp\ Image\ 2024-10-29\ at\ 15.58.12.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

.infantil {
    margin: 25px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: var(--branco);
    background-image: url(/feminino/Conjunto\ infantil.jpeg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: var(--branco);
    text-shadow: 10px 0px 10px var(--preto);
}

@media (max-width: 768px) {

    .textos {
        font-size: 20px;
    }

    .colunas {
        display: flex;
        flex-wrap: wrap;
    }

    .categoria {
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        color: var(--branco);
        background-image: url(/Fotos/WhatsApp\ Image\ 2024-10-29\ at\ 15.58.12.jpeg);
        background-size: cover;
        background-position: center;
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: bold;
        color: var(--branco);
        text-shadow: 0px 0px 8px var(--preto);

    }
}