.root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #333;
    --rosa-claro: #f2a5a5;
    --rosa-salmao: #ed8686c5;
    --vermelho-escuro: #ad0f0f;
    --bege: #ffe4e1;
    --verde-escuro: #25d366;

}
.card{
    border: 5px solid var(--rosa-claro);
    border-radius: 20px;
    width: 90%;
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
}

.sobrenos-img{
    display: flex;
    justify-content: right;
    width: 300px;
    border: 1px solid var(--rosa-claro);
    border-radius: 20px;
    float: right;
}

.text-sobrenos{
    padding-right: 50px;
}

.text-empresa{
    padding-top: 50px;
    text-align: center;
    
}


/* Media Query para dispositivos móveis */
@media (max-width: 768px) {

    
}


