:root {
    --cor-branca: #ffffff;
    --cor-preta: #000000;
    --cor-cinza: #333;
    --cor-rosa-claro: #f2a5a5;

}
/* alinhar o texto */


.navbar {
    display: flex;
    align-items: center;
    background-color: var(--cor-rosa-claro);
    padding: 10px;
    
}

.Logo {
    margin-right: 300px;
    /* ajuste da imagem ao menu */
    width: 200px;
    /* Ajuste o tamanho conforme necessário */
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--cor-branca);
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
}

.menu li {
    position: relative;
}

.menu li a {
    color: var(--cor-cinza);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu li a:hover {
    background: var(--cor-cinza);
    color: var(--cor-branca);
    text-shadow: 0px 0px 5px var(--cor-branca);
}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--cor-branca);
    display: none;
}

.menu li:hover ul,
.menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 150px;
}

.menu-item-produtos {
    color: var(--cor-cinza);
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.menu-item-produtos:hover {
    background: var(--cor-cinza);
    color: var(--cor-branca);
    text-shadow: 0px 0px 5px var(--cor-branca);
}

.menu-item-produtos ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: var(--cor-branca);
    display: none;
}


/* Media Query para dispositivos móveis */
@media (max-width: 768px) {

    .navbar {
        display: flex;
        align-items: center;
        background-color: var(--cor-rosa-claro);
        padding: 10px;
    }

    .menu {
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 250px;
        background-color: var(--cor-rosa-claro);
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        overflow-y: auto;
        padding-top: 60px;
        color: var(--cor-branca);
    }

    /* Quando o menu estiver aberto */
    .menu.open {
        transform: translateX(0);
    }

    /* Estilo para o botão do menu sanduíche */
    .menu-toggle {
        position: fixed;
        top: 15px;
        left: 15px;
        cursor: pointer;
        z-index: 1001;
    }

    .menu-toggle .bar {
        width: 30px;
        height: 3px;
        background-color: var(--cor-cinza);
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Estilos para a logo */
    .Logo {
        width: 100px;
        /* Ajuste conforme necessário */
        height: auto;
        margin-left: 40px;
        /* Empurra a logo para a direita */
    }

    /* Estilo para os itens do menu */
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .menu li {
        padding: 15px;
    }

    .menu a {
        color: var(--cor-branca);
        text-decoration: none;
    }

    /* Submenu oculto */
    .submenu {
        display: none;
    }

    /* Exibe o submenu quando a classe 'open-submenu' é adicionada */
    .open-submenu {
        display: block;
    }

}