.root{
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #333;
    --rosa-claro: #f2a5a5;
    --rosa-salmao: #ed8686c5;
    --vermelho-escuro: #ad0f0f;
    --bege: #ffe4e1;
    --verde-escuro: #25d366;

}
.card{
    border: 5px solid var(--rosa-claro);
    border-radius: 20px;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.titulo{
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    color: var(--rosa-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    /* colocar o testo no meio e a imagem a esquerda  */
    flex-direction: row;

}

.sobrenos-img{
    display: flex;
    justify-content: right;
    width: 300px;
    border: 1px solid var(--rosa-claro);
    border-radius: 20px;
    
}

.text-sobrenos{
    padding-right: 50px;
    padding-left: 50px;
}

.text-empresa{
    padding-top: 20px;
    text-align: justify;
    font-size: 25px;
    padding-left: 90px;
    padding-right: 90px;

    
}
.text-empresa_negrito{
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    padding-left: 90px;
    padding-right: 90px;
    font-weight: bold;

}

.escrito_por{
    padding-top: 15px;
    text-align: left;
    font-size: 20px;
    padding-left: 90px;
    padding-right: 90px;
    font-weight: bold;
}




/* Media Query para dispositivos móveis */
@media (max-width: 768px) {

    .card{
        padding: auto;
    }

    .titulo{
        display: flex;
        flex-direction: column;
    }

    .text-empresa{
        padding: 15px;
        margin: 1px;
    }
    
}




